# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Env files
# =========================
.env
.env.*
!.env.example

# =========================
# Next.js
# =========================
.next/
out/
build/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS / System
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/dev.db-journal

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Misc
# =========================
*.pem
coverage/